<footer class="footer flex">
    <div id="spring-links flex">
        <img id="springlogo" src="{{{uiRootPath}}}/img/astronuts-logo.svg" alt="AstroNuts">
        <p class="smallest antialiased">© <script>var d = new Date();
        document.write(d.getFullYear());</script> <a href="https://www.astronuts.io/">AstroNuts</a>, Inc. <a href="https://www.vmware.com/help/legal.html">Terms of Use</a> • <a href="https://www.vmware.com/help/privacy.html" rel="noopener noreferrer">Privacy</a></p>

    </div>
</footer>
